/* fonts */
@font-face {
  font-family: 'NotoSansKr';
  src: url('../assets/fonts/notoSansKr/NotoSansKR-Thin.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansKr';
  src: url('../assets/fonts/notoSansKr/NotoSansKR-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansKr';
  src: url('../assets/fonts/notoSansKr/NotoSansKR-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansKr';
  src: url('../assets/fonts/notoSansKr/NotoSansKR-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansKr';
  src: url('../assets/fonts/notoSansKr/NotoSansKR-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansKr';
  src: url('../assets/fonts/notoSansKr/NotoSansKR-Black.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}